input{
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background-color: coral;
}

input::placeholder{
    color: #eee;
}